@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: black;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}


.picture{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.displaypic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.displaypic label{
    cursor: pointer;
}

#uploadNewDp{
    display: none;
}


form{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.fname, .lname, .pass, .dob, .phone, .uname, .gender{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "philosopher";
    background: rgb(250, 241, 241);
}

.top{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    margin: 1rem;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="date"]{
    width: 20rem;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "philosopher";
    
}

.option{
    margin: 1rem;
}

label{
    font-size: 19px;
}

.gender {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.gender input[type="radio"] {
    display: none;
}

.gender .option label {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 95px;
    user-select: none;
    border: 1px solid black;
}

.option input[type="radio"]:checked+label,
.option label:hover {
    background-color: #fff;
    color: #000;
    transition: .3s ease;
}

.submit{
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: flex-end;
    
}

.submit button{
    width: 20rem;
    margin: 1rem;
}

.btn {
    width: 50%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    font-weight: 500;
    font-family: philosopher;
}

.btn:hover {
    background: white;
    color: black;
    transition: all .4s ease;
}



nav a{
    color: white;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

nav a i{
    font-size: 30px;
}

.deactivate a label{
    font-size: 15px;
    cursor: pointer;
}

.deactivate a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    color: white;
    border-radius: 8px;
    border: 2px solid red;
    padding: .5rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease;
    width: 6rem;
    height: 1.5rem;
}

.deactivate a:hover{
    background: white;
    color: red;
}


@media screen and (max-width: 556px) {
    input[type="text"],
        input[type="password"],
        input[type="tel"],
        input[type="date"] {
            width: 13rem;
            padding: .8rem;
            margin: .5rem;
            font-size: 20px;
            border-radius: 8px;
        }
                .option{
                    display: flex;
                    margin: .5rem;
                }
                form{
                    width: 90vw;
                }
               
                .gender .option label{
                    width: 50px;
                    margin: .1rem;
                }

                .submit{
                    margin: 0;
                }
                .submit button{
                    width: 13rem;
                    margin: .5rem;
                }
}