@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: philosopher;
}

h1{
    display: block;
    margin: auto;
}

body{
    display: flex;
    
}



.left{
    border-right: 1px solid rgb(255, 222, 243);;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:rgb(255, 247, 252);
}

.left .search{
    padding: .3rem;
   
    display: flex;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: initial;
    background: rgb(255, 236, 248);
    overflow: hidden;
    
}
.nothingFound{
    display: block;
    margin: auto;
}


.left .search input{
    width: 100%;
    padding: .5rem;
    height: 3rem;
    background: rgb(255, 236, 248);
}

.left .user-list{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.left .user-list::-webkit-scrollbar{
    display: none;
}


.left .user-tag{
    margin: .3rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.left .user-tag:hover{
    background: rgba(0, 0, 0, 0.082);
}

.left .user-tag .profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    
    overflow: hidden;
    margin-right: 5px;
    border-radius: 50%;
}

.left .user-tag img{
    
    height: fit-content;
    width: 100%;
    
}

.left .name-last-text{
    width: 100%;
}

.left .last-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left .last-text small{
    font-size: 12px;
    width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.left .last-text .timestamp{
    width: 20%;
}

.right{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.right nav{
    
    top:0;
    left: 0;
    right: 0;

    height: 4.5rem;
    padding: .3rem;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(255, 236, 248);
    
    
}

.right .user-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.right .user-info .profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 50%;
}

.right .user-info img{
    height: fit-content;
    width: 100%;
}

.right .chat-ground{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(255, 247, 252);
}

.received-text{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: .5rem;
    
}

.sent-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: .5rem;
}

.timestamp{
    font-size: 10px;
        text-align: end;
        padding: 0.2rem;
}



.sent{
   
    background: rgb(226, 48, 196);
    padding: .4rem;
    border-radius: 12px;
    color: white;
    border-bottom-right-radius: 0;
}

.received{
   
    background: rgb(226, 48, 196);
    padding: .4rem;
    border-radius: 12px;
    color: white;
    border-top-left-radius: 0;
}

.msg-content-left{
    background: rgb(226, 48, 196);
    border-radius: 12px;
    border-top-left-radius: 0;
    color: white;
    display: flex;
        flex-direction: column;

    width: fit-content;
    max-width: 90%;
    
    
}
.msg-content-right{
    
    background: rgb(226, 48, 196);
    border-radius: 12px;
    border-bottom-right-radius: 0;
    color: white;
    display: flex;
        flex-direction: column;
        
        align-items: flex-end;
        max-width: 90%;
    
}

.write-msg{
    background-color: rgb(255, 247, 252);
    padding: .5rem;
    
    
}
.write-msg form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: none;
    
    background-color: rgb(255, 247, 252);
}

.write-msg input[type="text"]{
    width: 92%;
    padding: .6rem;
    margin-right: .25rem;
    border-radius: 30px;
    background: transparent;
    height: 3rem;
    background-color: rgb(255, 222, 243);
}


#send-button-button{
    width: 8%;
    margin-left: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#send-button-button img {
width: 35px;
height: 35px;
}
#back{
    width: 25px;
    height: 25px;
}

#search-chat-result{
    display: none;
    
    
    
    
   
    
    
    
    
   
    overflow-y: scroll;
  
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .body{
        height: 100%;
        width: 100%;
        scale: 1.5;
    }

    .left .user-list .user-tag{
        margin: 0;
       margin-bottom: .5rem;
        padding: .8rem;
    }
    .left{
        width: 100%;
        height: 93vh;
    }
    .right{
        width:100%;
        display: none;
        height: 93vh;
        
    }
        .write-msg input[type="text"] {
            border-radius: 50px;
        }
    
        .write-msg input[type="submit"] {
            width: 10%;
            padding: .5rem;
            margin-left: .25rem;
    
        }
}


